{% extends 'base.html' %}

{% block content %}
<div class="container row">
    <div id="accordion" class='col-3'> 
        <div class="card">
        {% for task in tasks %}
            <div class="card-nody">
                <div>
                    <a href="{% url 'tasks:description' task.id %}"><h3 class='card-title'>{{task.name}}</h3></a>
                </div>
                <form method='POST' action="{% url 'tasks:delete' task.id %}">
                {% csrf_token %}
                    <input type='submit' name='create-task' class="btn btn-primary btn-lg btn-block" value="Delete">
                </form> 
            </div>
        {% endfor %}
        </div>
    </div>

    <div class='col-7 add-form'>
        <H1>Add Task</h1>
        <form method='POST' action='/'>
            {% csrf_token %}
            {{form}}
            <input type='submit' name='create-task'>
        </form>
    </div>


</div>
{% endblock %}

<button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="" data-target="">X</button>